doctype html
html
  include ./includes/head.jade
  body
    h1!= h1
    main
      section.createthread
        form(action= req.baseUrl + '/start', method='post', enctype='multipart/form-data' )
          h2 new thread
          fieldset
            label name
              input(type= 'text', name= 'name')
            label title
              input(type= 'text', name= 'title')
            label message 
              textarea(name= 'message')
            label image
              input(type= 'file', accept= 'image/*', name= 'img')
            input(type= 'submit', name= 'submit', value= 'create thread')

      each val in threads
        a(href= req.baseUrl + '/' + val.postID)
          section.thread
            header
              p.postID= 'No.' + val.postID
              p.title= val.title
              p.name= val.name
            section.thumb
              img(src= 'media/img/' + val.string)/
            section.message
              - val.message = val.message.split(/\r?\n/)
              each line in val.message
                p= line