doctype html
html
  include ./includes/head.jade
  body
    h1!= h1
    main
      section.createthread
        form(action= req.baseUrl + '/start', method='post', enctype='multipart/form-data' )
          h2 new thread
          fieldset
            label name
              input(type= 'text', name= 'name')
            label title
              input(type= 'text', name= 'title')
            label message 
              textarea(name= 'message')
            label image
              input(type= 'file', accept= 'image/*', name= 'img')
            input(type= 'submit', name= 'submit', value= 'create thread')

      each val in threads
        a(href= req.baseUrl + '/' + val.postID)
          section.thread
            header
              p.postID= 'No.' + val.postID
              p.title= val.threadTitle
              p.name= val.postName
              p.timestamp= val.timestamp
            section.thumb
              img(src= 'media/img/' + val.imageString)/
            section.message
              //- split the comment into array of multiple lines (\r\n is newline)
              - val.postMessage = val.postMessage.split(/\r?\n/)
              //- for each line check if the line begins with ">" and apply the class green to the line if this is true 
              each line in val.postMessage
                if (line.substr(0, 1) === '>')
                  p.green= line
                else
                  p= line