doctype html
html
  head
    meta(charset="UTF-8")/
    title!= title
    link(rel="stylesheet", href="/css/main.css")
  body
    h1!= h1
    main
      each val in threads
        section.thread
          header
            p.postID= 'No.' + val.postID
            p.title= val.title
            p.name= val.name
          section.thumb
            img(src= 'media/img/' + val.string)/
          section.message
            p= val.message