doctype html
html
  include ./includes/head.jade
  body
    section.thread

      header
        p.postID= 'No.' + OP.ID
        p.title= OP.title
        p.name= OP.name
      section.thumb
        img(src= '/media/img/' + OP.string)/
      section.message
        - OP.message = OP.message.split(/\r?\n/)
        each line in OP.message
          p= line
      
      if posts
        each val in posts
          section.post
            header
              p.postID= 'No.' + val.ID
              p.name= val.name
            if val.string
              section.thumb
                img(src= '/media/img/' + val.string)/
            section.message
              - val.message = val.message.split(/\r?\n/)
              each line in val.message
                p= line