doctype html
html
  include ./includes/head.jade
  body
    main

      section.createpost
        form(action= baseUrl + '/post', method='post', enctype='multipart/form-data' )
          h2 reply to this thread
          fieldset
            label name
              input(type= 'text', name= 'name')
            label message 
              textarea(name= 'message')
            label image
              input(type= 'file', accept= 'image/*', name= 'img')
            input(type= 'submit', name= 'submit', value= 'reply')
    
      section.thread
        header
          p.postID= 'No.' + OP.postID
          p.title= OP.threadTitle
          p.name= OP.postName
          p.timestamp= OP.timestamp
        section.thumb
          img(src= '/media/img/' + OP.imageString)/
        section.message
          - OP.postMessage = OP.postMessage.split(/\r?\n/)
          each line in OP.postMessage
            if (line[0] === '>')
              p.green= line
            else
              p= line
        
        if posts
          each val in posts
            section.post
              header
                p.postID= 'No.' + val.postID
                p.name= val.postName
                p.timestamp= val.timestamp
              if val.imageString
                section.thumb
                  img(src= '/media/img/' + val.imageString)/
              section.message
                - val.postMessage = val.postMessage.split(/\r?\n/)
                each line in val.postMessage
                  if (line.substr(0, 1) === '>')
                    p.green= line
                  else
                    p= line